* {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgb(36, 107, 97);
  font-family: 'Wendy One', sans-serif;
  

}

#greeting {
  background:rgb(14, 80, 71);
  text-align: center;
  color: rgb(170, 104, 57);
  padding: 0.5em;
  font-size: 7em;
  margin-bottom: 0.7em;
}

#main-table {
  align-items: center;
  text-align: center;

}

/*---------------------yatzy-table-------------------*/
/* ------------------------------------------------- */

#yatzy-table {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-size: 3em;
 
}

#yatzy-table:hover {
  cursor: pointer;
}

/*--------------------value table--------------------*/
/* ------------------------------------------------- */

#value-table {
  width: 7em;
  float: left;
  text-align: left;
  color: rgb(35, 54, 87);
}

#value-table :nth-child(even){
  background: rgb(212, 175, 106);
}

#value-table :nth-child(odd){
  background: rgb(255, 225, 170);
}

#value-table :first-child {
  border-top-left-radius: 10px;
}

#value-table :last-child {
  border-bottom-left-radius: 10px;
}

.value-div {
  padding-left: 10px;
}


/* -------------------player table------------------ */
/* ------------------------------------------------- */

#player-table {
  float: left;
  color: rgb(170, 104, 57);
  width: 7em;

}

#player-table :nth-child(even) {
  background: rgb(255, 225, 170);
}

#player-table :nth-child(odd) {
  background: rgb(212, 175, 106);
}

#player-table :first-child {
  border-top-right-radius: 10px;
}

#player-table :last-child{
  border-bottom-right-radius: 10px;
}

.player-div {
}

.column-div:hover {
  color: rgb(35, 54, 87);
  cursor: pointer;
  /* background: black; */
}

.selected {
  color: rgb(35, 54, 87);
}

.dice {
  border-radius: 0.8em;
  align-content: center;
  width: 4.5em;
  height: 4.5em;
  float: left;
  margin: 3px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background: rgb(170, 104, 57);
  color: rgb(35, 54, 87);


}

.dice-div {
  margin: 5em auto 0 auto;
  display: inline-block;

}

.dice:hover {
  cursor: pointer;
}

.disabled {
  background: rgb(128, 90, 21)
}

.dice-button {
  text-align: center;
  margin-top: 1.5em;
  border-radius: 10px;
  background: rgb(170, 104, 57);
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.5em;
  color: rgb(35, 54, 87);
  font-size: 3em;

}

.dice-button:hover {
  cursor: pointer;

}

.selectedDice {
  /* background: rgb(128, 90, 21); */
  background: rgb(128, 65, 21);

}
