* {
  margin: 0;
  padding: 0;
  border: 0;
  /* background: rgb(80,94,177); */
  background: rgb(36, 107, 97);
  font-family: 'Wendy One', sans-serif;
  

}

.locked {
  background: rgb(243, 243, 223);
  /* border-radius: 10px; */
}

#greeting {
  /* border: solid 2px crimson; */
  background:rgb(14, 80, 71);
  text-align: center;
  /* color: white; */
  /* color: rgb(170, 130, 57); */
  color: rgb(170, 104, 57);


  padding: 30px;
  margin-bottom: 0.4em;
  font-family: 'Wendy One', sans-serif;
  font-size: 4em;
  /* padding-top: 1em;
  padding-bottom: 1.5em; */
}

#main-table {
  align-items: center;
  text-align: center;

}

#yatzy-table {
  /* margin-top: 1em; */
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 10px;
}

.pColumn :nth-child(even){
  /* background: rgb(138, 194, 167); */
  background: rgb(255, 225, 170);
  
}

.pColumn :nth-child(odd){
  /* background: rgb(130, 176, 154); */
  background: rgb(212, 175, 106);
}

.value-table {
  text-align: left;
  float: left;
  /* border: 1px solid grey; */
  color: rgb(35, 54, 87);
}

.value-column {
  width: 7em;
  float: left;
  text-align: left;
}

.value-column :nth-child(even){
  /* background: rgb(128, 187, 157); */
  background: rgb(212, 175, 106);

}

.value-column :nth-child(odd){
  /* background: rgb(119, 168, 144); */
  background: rgb(255, 225, 170);

}

.value-column :first-child {
  border-top-left-radius: 10px;
}

.value-column :last-child {
  border-bottom-left-radius: 10px;
}


.player-table {
  float: left;
  /* border: 1px solid grey; */
  width: 7em;
  text-align: center;
  /* color: white; */
  color: rgb(170, 104, 57);
}

.player-column {
  width: 7em;
  height: 5em;
  float: left;
  text-align: center;
  border: 1px solid black;
}

.pColumn :first-child {
  border-top-right-radius: 10px;
}

.pColumn :last-child {
  border-bottom-right-radius: 10px;
}

.value-div {
  /* border: 1px solid black; */
  width: 7em;
  height: 1.8em;
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.column-div {
  /* border: 1px solid black; */
  width: 7em;
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-div {
  margin: 20px auto 0 auto;
  display: inline-block;

}

.selected {
  color: rgb(35, 54, 87);

  /* background: pink; */
  /* color:rgb(128, 90, 21); */
  /* color: white; */
}

/* disable roll button */
/* .disabled {
  background: rgb(128, 90, 21)
} */

.dice {
  /* border: 2px solid rgb(212, 175, 106); */
  border-radius: 10px;
  align-content: center;
  width: 80px;
  height: 80px;
  float: left;
  margin: 3px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  /* background: rgb(170, 130, 57); */
  background: rgb(170, 104, 57);

}

.disabled {
  background: rgb(128, 90, 21)
}

.dice-button {
  text-align: center;
  height: 4em;
  width: 7em;
  margin-top: 20px;
  border-radius: 10px;
  /* background: rgb(170, 130, 57); */
  background: rgb(170, 104, 57);
  padding: 0;
  font-size: 1em;
}

.selectedDice {
  background: rgb(128, 90, 21)

}
